<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://192.168.1.149/MB.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.garena.game.kgvn1</string>
<key>bundle-version</key>
<string>1.56.11265701</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>MENU AOV V3</string>
</dict>
</dict>
</array>
</dict>
</plist>
