<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>url</key>
                        <string>https://und3fy-my.sharepoint.com/personal/4decrypt_und3fy_onmicrosoft_com/_layouts/15/download.aspx?share=EdelFLmHYbBAteD74116O2MB_HQUqapYL69rZB6LSCijZg</string> <!-- Đường dẫn đến file IPA của bạn -->
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.example.yourapp</string> <!-- ID của ứng dụng -->
                    <key>bundle-version</key>
                    <string>1.0</string> <!-- Phiên bản của ứng dụng -->
                    <key>kind</key>
                    <string>software</string>
                    <key>platform</key>
                    <string>IOS</string>
                    <key>title</key>
                    <string>Your App Title</string> <!-- Tên ứng dụng -->
                </dict>
            </dict>
        </array>
    </dict>
</plist>
