<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://drive.usercontent.google.com/download?id=1o8H4E1sDicPm88HoYxUr9IMToUlRjdnM&export=download&authuser=0&confirm=t&uuid=bbb7a319-cc4d-489c-86d7-bd5fbb90cfd2&at=APvzH3qOrKcb5xwZyYRuicmxpwhr%3A1733906621656</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.garena.game.kgvn1</string>
<key>bundle-version</key>
<string>1.56.11265701</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Lq-mb</string>
</dict>
</dict>
</array>
</dict>
</plist>
